.section-search input {
    padding: 0 px !important;
    font-size: 18px !important;
    width: 70% !important;
    border: #f4f4f4 3px solid !important;
    margin: 20px;
  }

  .section-follow .fa-4x {
    margin: 5px 10px;
  }
  
  .section-contact h5 {
    margin-bottom: 30px;
  }

  .place-labal{
    font-size: 18px !important;
    margin-right: 20px;
    color: #f4f4f4;
  }

