.padding-content{
    padding :5px !important;

}
.hotel-name{
    padding:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    color: darkslategrey;
    font: bold;
    border: deepskyblue;
    border-color: dimgrey;
    border-width: 2px;
    border-radius: 5px;
}
.max-hight{
    max-height: 300px;
}
.place-address-button{
    margin-left: 10px;
    padding:5px;
    background-color: teal;
    border: teal;
    color: whitesmoke;
    border-radius: 5px;
  }
  .place-address-button :hover{
    margin-left: 10px;
    padding:5px;
    background-color: whitesmoke;
    border: teal;
    color: teal;
    border-radius: 5px;
  }
  .hotel-address{
      padding-left: 10px;
      font: italic;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 600;
      color: dimgrey;
  }
  .pad{
      padding:3px;
      margin: 3px;
  }
  .hotel-rating{
      font-family: 'Times New Roman', Times, serif;
      font-size: 2em;
      color: indianred;
      font-weight: bolder;
      padding: 10px;
  }

  .hotel-img img{
      height: 300px;
      object-fit: cover;
  }

  .content-size{
      height: 100px;
  }
  /* img{
 
      object-fit: cover;
  } */
