.img-sizing img{
    height: 300px;
    width: 150px;
    object-fit: cover;
}

.grid-mt {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 33% 33% 34%;
    background-color: floralwhite;
}

.not-logged{
    margin: 250px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    text-align: center;
    font-size: large;
}

.bt-size{
    margin-top: 10px;
    margin-bottom: 400px;
}

.no-trip{
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    text-align: center
}