.nav-items:hover{
  background-color: whitesmoke ;
  color: teal;
  width: 120px;
  text-align: center;
  transition: ease-in-out .4s;

}

.nav-items{
  width: 110px;
  text-align: center;
  transition: ease-in-out .2s;
}

.float-button-name{
  position: fixed;
  color: whitesmoke;
  border-radius: 20px;
  top:20px;
  right: 20px;
}

.float-button-email{
  position: fixed;
  color: whitesmoke;
  border-radius: 20px;
  top:5px;
  right: 20px;
  font-size: 0.8em;
}