/* .container {
    position: relative;
    text-align: center;
    color: white;
  } */
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.imgStyle {
    max-width: 100%;
    height: auto;
}

.itemStyle {
    width: 120px;
    min-height: 200px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.center-trip {
  margin: auto;
  width: 80%;  
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30pxpx;
  margin-top: 30px;
}

.grid-a {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 10% 30% 60%;
  
  
}

.grid-a>* {
  background-color: rgb(230, 230, 230);
  min-height: 250px;
  padding: px;
}
.placeImage img {  
  /* height: 250px; */
  object-fit: cover;
  
}
.img-boder{
  border: darkkhaki;
  border-width: 5px;
}
.place-details{
  display: grid;            
  grid-template-rows: 35% 65%;
  
}
.heading-det{
  display: grid;
  grid-template-columns: 70% 30%;
}
.details-det{
  display: grid;
  grid-template-rows: 20% 20% 60%;
}
.time{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: teal;
  font-size: 1em;
}
.italic-text{
  /* font-style: italic; */
  font-style: oblique;
}
.pad{
  padding-top: 20px;
}
.bold-text{
  font-style: inherit;
}
.days{
  font-size: 2em;
  font-family: fantasy;
  text-align: center;
  padding: 10px;
  color: rgb(109, 104, 104);
}
.place-name{
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  text-align: left;
  color: rgb(100, 100, 102);
}
.place-address-button{
  margin-left: 10px;
  padding:5px;
  background-color: teal;
  border: teal;
  color: whitesmoke;
  border-radius: 5px;
}
.place-address-button :hover{
  margin-left: 10px;
  padding:5px;
  background-color: whitesmoke;
  border: teal;
  color: teal;
  border-radius: 5px;
}

.padd{
  padding: 10px;
}

.rating{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  color: indianred;
  font-weight: bolder;
  padding: 10px;
}

.reviews{
  font-family: sans-serif;
  padding: 10px;
  color: dimgrey;
}

.pad{
  padding:3px;
  margin: 3px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.img-size img{
  height:300px;
  width:300px;
  object-fit: cover;
}
.action-size{
  height: 50px;
}